<% @title = "Search results for #{@q}" %>

<div id="groups" class="block">
  <ul>
    <% if @senators.any? %><li><a href="#senators">Senators</a></li><% end %>
    <% if @mps.any? %><li><a href="#mps">MPs</a></li><% end %>
    <% if @votes.any? %><li><a href="#votes">Votes</a></li><% end %>
  </ul>
</div>

<% if @senators.any? %>
  <a name="#senators"></a>
  <h3>Senators</h3>
  <ul class="activity_feed">
    <%= render :partial => 'shared/senator', :collection => @senators %>
  </ul>
<% end %>

<% if @mps.any? %>
  <a name="#mps"></a>
  <h3>Mps</h3>
  <ul class="activity_feed">
    <%= render :partial => 'shared/member', :collection => @mps %>
  </ul>
<% end %>

<% if @votes.any? %>
  <a name="#votes"></a>
  <h3>Votes</h3>
  <div id="votes" class="block">
    <ul class="activity_feed">
      <%= render :partial => 'shared/vote', :collection => @votes %>
    </ul>
  </div>
<% end %>