<div id="footer">
  <div class="container">

    <div id="footer_disclaimer">
      <%= link_to image_tag("aisb_logo.png", :alt => "Apathy is Boring logo"), "http://apathyisboring.com", :title => "Apathy is Boring", :class => "aisb_logo", :target => "_blank" %>
      <p>
        Citizen Factory is an online tool for Canadian youth created by <a href="http://apathyisboring.com/en">Apathy is Boring</a>. It includes information drawn from the proceedings of the House of Commons and its Committees, which is reproduced in accordance with the <a href="http://www.parl.gc.ca/information/about/copyright/permission_hoc.asp?Language=E">Speaker's Permission</a>. The official record of Parliamentary proceedings is available online through the <a href="http://parl.gc.ca/common/index.asp?Language=E">Library of Parliament</a>.
      </p>
      <p>
        Need to contact us? Just email <a href="mailto:info@apathyisboring.com">info@apathyisboring.com</a>.
      </p>
    </div>

  </div>
</div>