<div id="footer">
  <div class="container">

    <div id="footer_disclaimer">
      <%= link_to image_tag("aisb_logo.png", :alt => "Apathy is Boring logo"), "http://apathyisboring.com", :title => "Apathy is Boring", :class => "aisb_logo", :target => "_blank" %>
      <p>
        Citizen Factory est un outil en ligne pour la jeunesse canadienne créée par <a href="http://apathyisboring.com/en">Apathy is Boring</a>. 
		Il comprend des informations tirées des débats de la Chambre des communes et de ses comités, qui est reproduite en conformité avec <a href="http://www.parl.gc.ca/information/about/copyright/permission_hoc.asp?Language=E"> la permission du Speaker</a>. 
		Le compte rendu officiel des débats parlementaires est disponible en ligne à la <a href="http://parl.gc.ca/common/index.asp?Language=E">Bibliothèque du Parlement</a>.
      </p>
      <p>
        Besoin de nous contacter? Tout courriel <a href="mailto:info@apathyisboring.com">info@apathyisboring.com</a>.
      </p>
    </div>

  </div>
</div>