<h3>Who represents you?</h3>
	
<p>Find out who represents you in the House of Commons and Senate by entering your postal code:</p>

<div id="search">
  <% form_tag '/search/postal_code' do %>
    <div class="search_field">
      <%= text_field_tag 'q', 'Enter your Postal Code', :class => 'text with_help default-value', :id => 'postal_code_search' %>
    </div>
    <div class="submits">
      <%= image_submit_tag("search.en.png", :alt => "search") %>
    </div>
  <% end %>
</div>