<li>
  <div class="votes">
    <%= vote.total_votes %>
    <label>Votes</label>
  </div>
  <% unless vote.bill_number.nil? %>
    <div class="bill">
      <label>Bill</label>
      <%= vote.bill_number %>
    </div>
  <% end %>
  <div class="description">
    <%= vote.title %>
    <small>Voted on <%= vote.vote_date %></small>
  </div>
</li>