<strong><%= t('members.activity_stream.hansard.text') %> <%= link_to entry.object.topic, :controller => :search, :action => :index, :q => entry.object.topic %></strong>
<div class="summary"><p><%= entry.object.text %></p></div>
<em><%= t('members.activity_stream.time_ago', :time => time_ago_in_words(entry.date)) %></em>