<p><strong><%= t("members.activity_stream.vote.#{@mp.recorded_vote_for(entry.object).stance.underscore}") %></strong> 
<%= entry.object.title %> (<%= link_to t('votes.index.details_link'), :controller => :votes, :action => :show, :id => entry.object.id %>)</p>
<em><%= t('members.activity_stream.time_ago', :time => time_ago_in_words(entry.date)) %></em>