<p>Cette page contient les projets de loi présentement devant le Parlement, ainsi que des anciens projets de loi plus au bas. Clique sur le titre d'un projet de loi pour en savoir plus.</p> 

<p>Pour devenir une loi, chaque projet de loi doit passer par trois lectures à la Chambre des communes et au Sénat ainsi que par la considération d’un comité.</p>

<p>La première lecture est principalement une formalité pour que le projet de loi puisse être inscrit à l'agenda du Parlement. La deuxième lecture se fait lorsque les députés et les sénateurs débattent de l'utilité générale du projet de loi. Ils ne peuvent pas amender le texte du projet de loi, mais peuvent seulement voter pour ou contre le projet.</p> 

<p>Lorsqu’un projet de loi a passé la deuxième lecture, il est référé à un comité qui l'étudiera de près. Ce comité entendra également le témoignage de témoins. Si le comité approuve le projet de loi, il le rapportera à la Chambre ou au Sénat pour que leurs collègues puissent discuter du projet de loi et faire leurs propres amendements.</p> 

<p>À la troisième lecture, les députés ou les sénateurs débattent et votent sur l'ensemble du projet de loi. Si certaines parties du projet de loi ne leur conviennent pas, ils peuvent le renvoyer au comité. Une fois que le projet de loi a passé les lectures de la Chambre et du Sénat, il peut être signé et devenir une loi.</p>