<p>This page includes the bills Parliament is currently considering, along with past bills farther down. Click on the title of a bill to learn more about it.</p>

<p>To become a law, <%= link_to "every bill", "http://apathyisboring.com/en/the_facts/articles/bills_the_lowdown" %> must go through three “readings” in both the House of Commons and the Senate, as well as consideration by a committee.</p>

<p>The first reading is mainly a formality so that the bill can be put on Parliament's agenda. The second reading is when MPs and Senators debate the general purpose of the bill. They can't amend the text of the bill, but simply vote for or against it.</p>

<p>After a bill passes second reading, it is referred to a committee which studies it closely, hears testimony from witnesses, and makes amendments to the bill. If the committee approves the bill, they report back to the House or Senate so that their colleagues can discuss the bill and make their own amendments.</p>

<p>The third reading is when MPs or Senators debate and vote on the bill as a whole. If there are problems with specific parts bill, they can also send it back to the committee. Once a bill passes third reading in both the House and Senate, it can be signed into law.</p>
