<h3>Où est ce projet de loi?</h3>

<p>Tu te demandes comment un projet de loi devient une loi? Regarde la page des projets de lois et lis cet article.</p> 

<p>Ce projet te tient-il à cœur? <%= link_to "Inscris-toi pour recevoir des mises à jour RSS", ""%> au moment où les députés discutent de ce projet de loi ou le votent.</p> 

<h3>Les faits</h3> 

<p>Tu veux en apprendre plus sur ce projet de loi? Tu peux trouver le texte complet et les informations ici.</p>