<h3>Where is this bill?</h3>

<p>Wondering how bills become laws? Check out the bills page, and read this article.</p>

<p>Is this bill near and dear to your heart? <%= link_to "Subscribe to receive RSS updates", "" %> whenever MPs speak or vote on this bill.</p>

<p>The Facts</p>

<p>Want to learn more about this specific bill? You can find the full text and information about it here.</p>
