<% @content_layout = "has_sidebar_right" %>

<div id="current_committees" class="section">
	<ul>
	<% for committee in @current_committees %>
		<li><%= link_to(committee.name, committee_path(committee)) %></li>
	<% end %>
	</ul>
</div>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>
