<% @content_layout = "has_sidebar_right" %>

<p>Committees are how Parliament examines specific issues in depth. They review bills, call expert witnesses, investigate scandals, and report all of this back to the House of Commons. There are many <%= link_to "different types of committees", "http://www.apathyisboring.com/en/the_facts/articles/decoding_parliamentary_commitees" %> with different roles. Below you'll find a list of standing committees - they're the permanent groups that oversee a specific aspect of the government.</p>

<p>So what happens in committee meetings? <%= link_to "It's not a mystery", "http://www.parl.gc.ca/common/committee.asp?Language=E" %>, but Citizen Factory doesn't have access to that information yet. Parliament has announced that they'll be sharing it soon, so keep your eyes open.</p>

<div id="current_committees" class="section">
	<ul>
	<% for committee in @current_committees %>
		<li><%= link_to(committee.name, committee_path(committee)) %></li>
	<% end %>
	</ul>
</div>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>
