<% @title = 'About' %>

<p>OurParliament is a non-partisan, citizen-run project that makes Canada's parliamentary record, the Hansard, more accessible. Citizens require easy access to accurate and timely information about their government. This project helps Canadians better understand what's happening in Parliament.</p>

<p>Published after each sitting day and made available online at http://www.parl.gc.ca, the Hansard is the official, complete report of proceedings in the House of Commons. It includes Members' speeches in debate, recorded votes, written answers to certain questions, and the Speech from the Throne at the beginning of each session of Parliament.</p>

<p>Some problems with the official Hansard include inaccessibility for people with disabilities, long dowload times for dialup users, and poor design (no search, confusing navigation).</p>

<p>OurParliament's goal is to accurately re-publish the complete, unaltered Hansard in a format that is open and accessible. The code that runs this site is open and available at _____.</p>

<p>OurParliament was created by a random assortment of rabble rousers who think democracy is a good idea. They include Michael Lenczner, Daniel Haran, Francis Wu, Martin Carel, David Mason, Christine Prefontaine , and Craig Davey. The current code was written by Daniel Haran and Martin Carel. Download the source code and start hacking.</p>