<p class="tagline">Parliament is sitting</p>

<div id="search">
  <% form_tag '/search' do %>
    <div class="search_field">
      <%= text_field_tag 'q', 'Enter a Keyword', :class => 'text with_help', :id => 'home_search' %>
    </div>
    <div class="submits">
      <%= image_submit_tag("search.png", :alt => "search") %>
    </div>
  <% end %>
</div>

<div id="intro">
  <h3>What is your MP up to?</h3>
  <p>MPs represent you, but keeping tabs on elected representatives can be difficult - the info you need is scattered across various websites, archives, newspapers, blogs, and even on Twitter.</p>
  <p>That's where Citizen Factory comes in: it's a tool created by Apathy is Boring to help Canadian youth learn about their government. By aggregating Parliamentary information and making it easily accessible, Citizen Factory allows anyone to find out exactly what MPs are up to.</p>
  <p>Citizen Factory also includes a Teacher's Guide that includes lesson plans and other resources to help students learn about Parliament.</p>
</div>