<% @content_layout = "has_sidebar_right" %>

<div id="votes" class="block">
  <ul>
    <%= render :partial => 'shared/vote', :collection => @votes %>
  </ul>
</div>

<% content_for :sidebar_right do %>
  <%= render :partial => 'shared/links' %>
<% end %>
