<li>
  <%= link_to image_tag('http://webinfo.parl.gc.ca/MembersOfParliament/Images/OfficialMPPhotos/40/AngusCharlie_NDP.jpg', :alt => 'activity.member.name'), 'member_path(activity.member)', :class => 'photo' %>
  <div class="who">
    <h3 class="name"><%= link_to 'Charlie Angus', '', :title => 'Charlie Angus' %></h3>
    <span class="meta">
      (<span class="caucus">NDP</span>,
      <span class="Constituency">Timmins—James Bay</span>)
    </span>
  </div>
  <div class="what">
    <div class="last_action">
      <div class="tail"><b><!----></b></div>
      <blockquote>I voted for <%= link_to 'Bill C02', '', :title => 'Bill C02' %></blockquote>
    </div>
    <div class="last_quote">
      <div class="tail"><b><!----></b></div>
      <blockquote>Aenean tortor. Proin sodales mi ac magna. Nulla porttitor luctus felis. Praesent facilisis magna et nisi. Cras imperdiet...<%#= activity.content %></blockquote>
    </div>
  </div>
</li>