<% @title = 'Members of Parliament' %>
<% @content_layout = "has_sidebar_right" %>

<ul class="members_list">
  <%= render :partial => 'member', :collection => @mps %>
</ul>

<% content_for :sidebar_right do %>
  <p>Perhaps put some content here.</p>
<% end %>